<form *ngIf="orderStatuses" (ngSubmit)="saveOrder()" #orderStatusesForm="ngForm">
  <div class="modal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true" [style.display]="this.showModal ? 'block' : 'none'">
    <div class="modal-dialog" role="document" style="">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Order Status</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-primary btn-sm" (click)="addStatus()">
                <i class="fa fa-plus" aria-hidden="true">&nbsp;</i>
                Add
              </button>
            </div>
          </div>
          <br />
          <div class="row" *ngFor="let orderStatus of orderStatuses; let i=index; trackBy:customTrackBy">
            <div class="col-md-5">
              <p-calendar [(ngModel)]="orderStatusDates[i]" [monthNavigator]="true" [showIcon]="true"
                          [yearNavigator]="true" yearRange="1950:2030" name="statusDate{{i}}">
              </p-calendar>
            </div>
            <div class="col-md-4">
              <input type="text" pInputText [(ngModel)]="orderStatus.description" name="statusDescritpion{{i}}" />
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-primary btn-xs" (click)="deleteStatus(i)">
                <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
                Delete
              </button>
            </div>
            <br /><br />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!orderStatusesForm.form.valid">Save</button>
        </div>
      </div>
  </div>
</div>
</form>


