<br/>
<div>
  <orderModal [showModal]="showOrderModal" [closeModal]="closeModal" [saveOrder]="saveOrder" [order]="order"></orderModal>
  <orderStatusesModal [showModal]="showOrderStatusesModal" [closeModal]="closeStatusModal" [addStatus]="addStatus" [orderStatuses]="order != null ? order.statuses : null"></orderStatusesModal>
  <div class="row">
    <div class="col-md-6">
      <h4 style="display: inline">Orders:&nbsp;&nbsp;&nbsp;</h4>
      <button type="button" class="btn btn-primary btn-sm" (click)="onAddClick()">
        <i class="fa fa-plus" aria-hidden="true">&nbsp;</i>
        Add
      </button>
    </div>
  </div>
  <br />
  <p-table [value]="orders" [scrollable]="true" [style]="{width:'1140'}" scrollHeight="900px">
    <ng-template pTemplate="colgroup" let-orders>
      <colgroup>
        <col style="width:50px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
        <col style="width:150px">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-order>
      <tr>
        <th>No.</th>
        <th>Company</th>
        <th>Mark</th>
        <th>Container</th>
        <th>Destination</th>
        <th>Discharged Port</th>
        <th>BL</th>
        <th>ETD</th>
        <th>ETA</th>
        <th>Num Of Goods</th>
        <th>Weight</th>
        <th>Measurement</th>
        <th>Product Description</th>
        <th>Status</th>
        <th>Receive Order Date</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order let-columns="columns" let-i="rowIndex">
      <tr>
        <td>
          {{order.number}}
        </td>
        <td>
          {{order.companyName}}
        </td>
        <td>
          {{order.mark}}
        </td>
        <td>
          {{order.containerNumber}}
        </td>
        <td>
          {{order.destination}}
        </td>
        <td>
          {{order.BLNumber}}
        </td>
        <td>
          {{order.ETD}}
        </td>
        <td>
          {{order.ETA}}
        </td>
        <td>
          {{order.numOfGoods}}
        </td>
        <td>
          {{order.weight}}
        </td>
        <td>
          {{order.measurement}}
        </td>
        <td>
          {{order.productDescription}}
        </td>
        <td>
          {{order.OrderStatus}}
        </td>
        <td>
          {{order.receiveOrderDate}}
        </td>
        <td>
          <button type="button" class="btn btn-primary btn-xs" (click)="openStatusesModal(i)">
            <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;
            Open
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-primary btn-xs" (click)="onEdit(i)">
            <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;
            Edit
          </button>
          <button type="button" class="btn btn-primary btn-xs" (click)="onDelete(i)">
            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
            Delete
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


