
<div class="modal" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" [style.display]="this.showModal ? 'block' : 'none'">
  <div class="modal-dialog" role="document" style="">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Edit Order</h4>
      </div>
      <div class="modal-body">
        <form *ngIf="order">
          <div class="row">
            <div class="col-md-12">
              <label>
                User Email
              </label>
              <br />
              <p-dropdown [options]="userOptions" [(ngModel)]="selectedUser" [filter]="true"
                          filterBy="value" placeholder="User Name" showClear="true" autoWidth="false">

              </p-dropdown>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6">
              <label>
                Order Number
              </label>
              <br />
              <input type="text" pInputText [(ngModel)]="order.number" name="number" />
            </div>
            <div class="col-md-6">
              <label>
                Company Name
              </label>
              <br />
              {{order.companyName}}
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6">
              <label>
                mark
              </label>
              <br />
              <input type="text" pInputText [(ngModel)]="order.mark" name="mark" />
            </div>
            <div class="col-md-6">
              <label>
                Container Number
              </label>
              <br />
              <input type="text" pInputText [(ngModel)]="order.containerNumber" name="containerNumber" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6">
              <label>
                Destination
              </label>
              <br />
              <input type="text" pInputText [(ngModel)]="order.destination" name="destination" />
            </div>
            <div class="col-md-6">
              <label>
                Discharged Port
              </label>
              <br />
              <input type="text" pInputText [(ngModel)]="order.dischargedPort" name="dischargedPort" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6">
              <label>
                BL Number
              </label>
              <br />
              <input type="text" pInputText [(ngModel)]="order.BLNumber" name="BLNumber" />
            </div>
            <div class="col-md-6">
              <label>
                ETD
              </label>
              <br />
              <input type="text" pInputText [(ngModel)]="order.ETD" name="ETD" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6">
              <label>
                ETA
              </label>
              <br />
              <input type="text" pInputText [(ngModel)]="order.ETA" name="ETA" />
            </div>
            <div class="col-md-6">
              <label>
                Num Of Goods
              </label>
              <br />
              <input type="text" pInputText [(ngModel)]="order.numOfGoods" name="numOfGoods" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6">
              <label>
                Weight
              </label>
              <br />
              <input type="text" pInputText [(ngModel)]="order.weight" name="weight" />
            </div>
            <div class="col-md-6">
              <label>
                Measurement
              </label>
              <br />
              <input type="text" pInputText [(ngModel)]="order.measurement" name="measurement" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6">
              <label>
                Product Description
              </label>
              <br />
              <input type="text" pInputText [(ngModel)]="order.productDescription" name="productDescription" />
            </div>
            <div class="col-md-6">
              <label>
                Receive Order Date
              </label>
              <br />
              <input type="text" pInputText [(ngModel)]="order.receiveOrderDate" name="receiveOrderDate" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveOrder()">Save changes</button>
      </div>
    </div>
  </div>
</div>

