<br/>
<div>
  <div class="row">
    <div class="col-md-12">
      <h4 style="display: inline">Orders:&nbsp;&nbsp;&nbsp;</h4>
      <button type="button" class="btn btn-primary btn-sm" (click)="onAddClick()">
        <i class="fa fa-plus" aria-hidden="true">&nbsp;</i>
        Add
      </button>
    </div>
  </div>
  <br/>
  <p-table [value]="orders">
    <ng-template pTemplate="header">
      <tr>
        <th>No.</th>
        <th>Company</th>
        <th>Mark</th>
        <th>ETD</th>
        <th>ETA</th>
        <th>Receive Date</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>
          {{order.number}}
        </td>
        <td>
          {{order.companyName}}
        </td>
        <td>
          {{order.mark}}
        </td>
        <td>
          {{order.ETD}}
        </td>
        <td>
          {{order.ETA}}
        </td>
        <td>
          {{order.receiveOrderDate}}
        </td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" (click)="onEditClick(i)">
            <i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;
            Edit
          </button>
          <button type="button" class="btn btn-primary btn-sm" (click)="onDeleteClick(i)">
            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
            Delete
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


