@{
    ViewData["Title"] = "About";
}
<h2>EShipment Order Tracking System</h2>
<p style="font-size: 16px; font-family: verdana; color: green">At Focus Worldwide Logistics, we offer broad-ranged customized freight solutions, including air, sea, and land freight forwarding and logistics services. We also provide extensive and value-added freight service within the USA and Canada. Our highly proficient logistics specialists execute precise, efficient, cost-effective door-to-door solutions to and from any destination worldwide.</p>
<p style="font-size: 16px; font-family: verdana; color: green">Focus Worldwide Logistics has a comprehensive network of global associates and partners to deliver complete logistic solutions for you or your company at the highest level of expertise and services.</p>
<p style="font-size: 16px; font-family: verdana; color: green">
  This system is designed to help our customers track the stauts of their orders and place new orders.
</p>
