@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address style="font-size: 16px; font-family: verdana; color: green">
  Unit 163, 5489 Byrne Road<br />
  Burnaby, BC, Canada V5J 3J1<br />
  <Strong title="Phone">Toll Free:</Strong>
  1 (778) 323-0185 or 1 (778) 654-9187<br />
  <Strong title="Phone">Fax:</Strong>
  1 (778) 654-9187<br/>
</address>

<address style="font-size: 16px; font-family: verdana; color: green">
    <strong>Support:</strong> <a href="mailto:info@fww-logistics.com">info@fww-logistics.com</a>
</address>
